code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/* Organizational */
* {
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  /* background color 0 */
  margin: 0;
  background-color: #1c2a39;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer10 {
  padding: 0;
  height: 10px;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  text-align: center;
  /* color 11 */
  color: white;
  padding: 0;
  margin: 5px;
}

.dark {
  /* color 0 */
  color: black;
}

.container-outer {
  max-width: 1200px;
  padding: 10px;
  margin: 20px auto 10px;
  /* background color 5 */
  background-color: #6c7a89;
  border-radius: 5px;
}

.container-inner {
  display: inline-block;
  width: 45%;
  /* margin: 10px auto 5px;
  background-color: #3c4a59;
  padding: 10px;
  border-radius: 5px; */
}



/* Lists: */

ul {
  width: 80%;
  border-radius: 5px;
  /* background color 11 */
  background-color: #c5d3e2;
  padding: 10px;
  margin: 10px auto;
  list-style: none;
}

li {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  margin: 5px;
  /* color 0 */
  color: #1c2a39;
}

/* Tables: */

table {
  table-layout: fixed;
  width: 75%;
  background-color: white;
  padding: 10px;
  margin: 10px auto 20px;
}

tr {
  text-align: center;
  font-weight: 400;
  color: black;
}

th {
  font-weight: 500;
  text-align: left;
}

td {
  text-align: left;
}

/* Button (General Use) */

button {
  background-color: #5c6a79;
  color: white;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 0.9em;
  border-radius: 5px;
}

/* Form (General Use)*/

.h-form {
  width: 85%;
  margin: 25px auto;
  
}

.h-form .h-label {
  display: block;
  padding: 7px;
  /* box-sizing: border-box; */
  /* background color 8 */
  background-color: #9caab9;
}

.h-form .h-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  padding: 15px;
  font-size: 14px;
}

.h-form .h-btn {
  /* background color 6 */
  background-color: #7c8a99;
  color: white;
  display: block;
  margin: 15px auto;
  
  padding: 4px 10px;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
}

.h-form .h-btn:hover {
  /* background color 8 */
  background-color: #9caab9;
  cursor: pointer;
}

.h-form .h-btn:active {
  /* background color 4 */
  background-color: #5c6a79;
}
